<html ng-app="katanaResult">
    <head>
        <link rel="icon" type="image/ico" href="Libraries/misc/fav.ico">
        <link rel="stylesheet" href="Libraries/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="Libraries/misc/styles.css">
        <script src="Libraries/Angular/angular.min.js"></script>
        <script src="Libraries/bootstrap/js/jquery-1.11.3.min.js"></script>
        <script src="Libraries/bootstrap/js/bootstrap.min.js"></script>
        <script src="Libraries/download/download.js"></script>
        <script src="Libraries/zip/filesaver.min.js"></script>
        <script src="Libraries/zip/jszip.min.js"></script>
        <script src="Libraries/misc/data.js"></script>
        <script src="Libraries/js/controller.js"></script>
    </head>
    <body>
        <div class="row" ng-controller="ResultsController">
            <div id="confirmModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmation</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{modalText}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="Confirm()">Go Ahead</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="aboutModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">About</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{aboutModalText}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
                        </div>
                    </div>
                </div>
            </div>
            <title>{{resultsData.Name}}</title>
            <div class='row'>
                <div class="col-lg-4">
                    <img src='Libraries/misc/logo.png' alt='Please add a logo.png to your {project}/Config/Templates/ folder'>
                    <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#aboutModal">about</button>
                </div>
                <div class="col-lg-4">
                    <h3>Test Automation Results</h3>
                </div>
                <div class="col-lg-4" style="padding-right: 40px;color: forestgreen;">
                    <p class="pull-right">{{uploadText}}</p>
                </div>
            </div>
            <div id='largeImgPanel' ng-click='hideImagePanel();'>
                <img id='largeImg' style='height:100%:margin:0,padding:0' src={{imagesrc}}>
            </div>
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <button id="uploadContainer" title="Upload to Katana" type="button" class="btn btn-default pull-left" data-toggle="modal"
                                data-target="#confirmModal">
                            <i id="uploadbutton" style="margin-top: -4px;" class="glyphicon text-center glyphicon-cloud-upload"></i>
                        </button>                    {{resultsData.Name}}
                        <button title="Expand All" class="btn btn-default  pull-right" ng-click="ExpandAll('expand')" style="margin-top: -4px;"><i id="expandbutton" class="glyphicon text-center glyphicon-plus"></i></button>
                        <button title="Minimize All" class="btn btn-default  pull-right" ng-click="ExpandAll('')" style="margin-top: -4px;"><i id="expandbutton" class="glyphicon text-center glyphicon-minus"></i></button>
                        <button title="Download all images" class="btn btn-default  pull-right" ng-click="DownloadImages()" style="margin-top: -4px;"><i class="glyphicon text-center glyphicon-cloud-download"></i></button>
                    </div>
                    <div class="panel-body">

                        <div class="pull-right" style="padding-bottom: 10px;">
                            <button title="Passed" ng-click="setPassFilter()" class="btn pull-right bg-success" ng-class="{true:'bg-success',false:'btn-default'}[showPassed==true]"><i id="expandbutton" class="glyphicon text-center glyphicon-ok"></i></button>
                            <button title="Failed" ng-click="setFailFilter()" class="btn pull-right bg-danger" ng-class="{true:'bg-danger',false:'btn-default'}[showFailed==true]"><i id="expandbutton" class="glyphicon text-center glyphicon-remove"></i></button>
                            <p class="pull-right">filters &nbsp&nbsp</p>
                        </div>
                        <ul ng-repeat="testcase in resultsData.TestCases| filter: (showPassed && showFailed?{}:(showPassed && !showFailed)?{Status:true}:(!showPassed && showFailed)?{Status:false}:(!showPassed && !showFailed)?{Status:null}:{})">
                            <li ng-class="{true: 'bg-success', false: 'bg-danger'}[testcase.Status == true]" class="pointer_shamir col-md-12"><i ng-class="{true:'glyphicon glyphicon-ok',false:'glyphicon glyphicon-remove'}[testcase.Status==true]"></i>                            <a data-toggle="collapse" data-target="#{{testcase.Id}}">{{testcase.Name}}</a></li>
                            <table class="table-bordered panel-collapse collapse out" id="{{testcase.Id}}">
                                <tr>
                                    <td class="text-center">Step</td>
                                    <td class="text-center">Description</td>
                                    <td class="text-center">Expected</td>
                                    <td class="text-center">Actual</td>
                                    <td class="text-center">Screenshots</td>
                                    <td class="text-center">Status</td>
                                </tr>
                                <tr id="StepRow" class="pointer_shamir" ng-class="{true: 'bg-success', false: 'bg-danger'}[teststep.Status == true]" ng-repeat="teststep in testcase.TestSteps track by $index">
                                    <td class="col-md-2">{{teststep.StepNumber}}</td>
                                    <td class="col-md-2">{{teststep.Description}}</td>
                                    <td class="col-md-2">{{teststep.Expected}}</td>
                                    <td class="col-md-2">{{teststep.Actual}}</td>
                                    <td class="col-md-2">
                                        <div ng-repeat="screenshot in teststep.Screenshot" ng-click="showImage(screenshot.Screenshots)">
                                            <img class="img-thumbnail" src="data:image/jpg;base64,{{screenshot.Screenshots}}">
                                        </div>
                                    </td>
                                    <td class="col-md-2">{{(teststep.Status==true)?"Pass":"Fail"}}</td>
                                </tr>
                            </table>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-s-4 col-md-4 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        Summary
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td>Test Cases Executed:</td>
                                <td>{{resultsData.TestCaseCount}}</td>
                            </tr>
                            <tr class="success">
                                <td>Total Pass:</td>
                                <td>{{resultsData.TotalPass}} ({{resultsData.PassPercentage}}%)</td>
                            </tr>
                            <tr class="danger">
                                <td>Total Fail:</td>
                                <td>{{resultsData.TotalFail}} ({{resultsData.FailPercentage}}%)</td>
                            </tr>
                            <tr>
                                <td>Environment:</td>
                                <td>{{resultsData.EnvironmentName}}</td>
                            </tr>
                            <tr>
                                <td>Browser:</td>
                                <td>{{resultsData.BrowserName}}</td>
                            </tr>
                            <tr>
                                <td>Total Runtime:</td>
                                <td>{{resultsData.ExecutionTime}}</td>
                            </tr>
                            <tr>
                                <td>Start Date:</td>
                                <td>{{resultsData.ExecutionDateTime | date:'dd-MM-yyyy @ HH:mm:ss'}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                
                <!--
                <div class="panel panel-default">
                    <div class="panel-body">
                        <script type="text/javascript" src="https://www.brainyquote.com/link/quotebr.js"></script>
                        <br />
                        <small><i><p>Quotes are provided by an external datasource</p></i></small>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <b>Joke of the day</b><br />
                        <p>{{joke_text}}</p>
                        <h6>{{joke_submitter}}</h6>
                        <br />
                        <small><i><p>Jokes are provided by an external datasource</p></i></small>
                    </div>
                </div>
                    -->
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        Tests Not Run
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr ng-repeat="Script in resultsData.ScriptsNotRun">
                                <td>{{Script}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>